/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
  font-size: 1.2em;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

code {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-weight: bold;
}

/* Header */
.masthead {
  text-align: center;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.intro {
  margin: 0 auto;
  padding: 1em 1em 2em;
  max-width: 50em;
  font-size: 90%;
  text-align: left;
  line-height: 1.4em;
  columns: 2;
  column-gap: 2em;
}

.intro p {
  margin: 0 0 1em;
}

/*Title*/
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container .screen {
  width: 1100px;
  height: 180px;
  background: linear-gradient(to bottom right, #004040, #00c8c8);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 20px #004040 solid;
  position: relative;
}

.container .screen .digit {
  margin: 2px;
}

.container .screen .digit {
  background-color: rgba(0, 0, 0, 0.2);
}

.container .screen .digit.on {
  background-color: rgba(255, 255, 255, 0.8);
}

.container .screen .glass {
  position: absolute;
  width: calc(30px * 12);
  height: calc(30px * 8);
  top: 0px;
  left: 0px;
  background: linear-gradient(rgba(255, 255, 255, 0.5) 5%, transparent 45%);
  clip-path: polygon(0px 0px, 0px 90px, 360px 30px, 360px 0px);
}

.container .input-box {
  display: flex;
  width: 1100px;
  padding: 5px 0;
}

.container .input-box #sentence {
  flex-grow: 1;
  border-radius: 2px;
  border: 2px #404040 solid;
  margin-right: 5px;
  font-size: 1.2rem;
}

.container .input-box #sentence:focus {
  border: 2px #004040 solid;
}

.container .input-box #submit-btn {
  background-color: #004040;
  color: #ffffff;
  padding: 5px;
  font-size: 1rem;
  border-radius: 2px;
}

.container .input-box #submit-btn:hover {
  background-color: #008080;
  cursor: pointer;
}

.container body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #008080, #00c8c8);
}

/* Colophon section */
.colophon {
  padding: 2em;
  background: hsl(0, 0%, 10%);
  color: white;
  font-size: 90%;
  text-align: center;
  line-height: 1.8em;
}

.colophon a {
  color: white;
}

.colophon a:hover,
.colophon a:focus {
  border-bottom: 1px solid white;
}

/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/
.cards {
  max-width: 25em;
  margin: 1em auto;
  padding: 0;
  list-style-type: none;
}

.cards a {
  display: block;
  margin-bottom: 1em;
  text-decoration: none;
}

.caption {
  padding: 1em;
  font-size: 90%;
  color: black;
}

.caption-title {
  margin: 0;
  font-size: 1.4em;
  line-height: 1em;
}

.location {
  padding: .5em 0;
  color: hsl(0, 0%, 40%);
}

.caption p {
  margin-top: .5em;
  margin-bottom: 0;
  line-height: 1.3em;
}

.cards a:focus .caption,
.cards a:hover .caption {
  background: hsl(0, 0%, 97%);
}

/*Table*/
.card-item .double body {
  font-size: 18px;
  font-family: Gaegu;
  background-image: url("https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge/public/article_images/2018/03/fortnite-androidcentral-screen.jpg?itok=2rSOYxjF");
}

table {
  border-spacing: 0.5rem;
  background: #FFFC;
  border-radius: 20px;
  padding: 30px;
  padding-bottom: 60px;
  margin-left: 40px;
}

caption {
  font-family: helvetica, sans;
  font-size: 2em;
  font-weight: bold;
  color: green;
  text-shadow: 3px 3px 5px white;
  margin-bottom: 10px;
}

td {
  padding: 0.5rem;
  user-select: none;
}

.health {
  border: 1px solid red;
}

td:nth-child(1) {
  background: hsl(150, 50%, 50%);
}

td:nth-child(2) {
  background: hsl(160, 60%, 50%);
}

td:nth-child(3) {
  background: hsl(170, 70%, 50%);
}

td:nth-child(4) {
  background: hsl(180, 80%, 50%);
}

td:nth-child(5) {
  background: hsl(190, 90%, 50%);
}

/*td:nth-child(6) { margin-right:50px; background: hsl(200, 99%, 50%); }
td:nth-child(7) { background: hsl(50, 99%, 50%); }
td:nth-child(8) {  }


td:hover {
  box-shadow: 2px 2px 2px grey;
}


.highlight {
  animation: keyhighlight 1.5s;
}

@keyframes keyhighlight {
  0% { background: white; }
  50% { color: yellow; }
  100% { color: white; }
}

.highlightbattle {
  animation: keyhighlightbattle 1.5s ;
}

@keyframes keyhighlightbattle {
  0% { background: pink; }
  50% { color: yellow; }
  100% { color: white; }
}

.shiftdown {
  transition: all 0.5s;
  transform: translate(0, 43px);
  border: 2px solid green;
}
.shiftup {
  transition: all 0.5s;
  transform: translate(0, -43px);
  border: 2px solid aqua;
}


@keyframes keyshiftdown {
  100% { transform: translate(0, 43px); }
}

@keyframes keyshiftup {
  100% { transform: translate(0, -43px); }
}

#divbottom {
  color: black;
  transform: translate(90px,-55px);
}

strong {
  color: #FFDD40;
}

#divbottom2 {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  line-height: 1.4;
  position:fixed;
  bottom:0;
  background:#191A1D;
  color:white;
  border-top:4px solid #0ebeff;
  padding: 5px;
  margin:0px;
  left: 0;
  right:0;
}
/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media screen and (min-width: 27em) {
    .cards {
      margin: 0 auto;
      padding: 1em;
    }

    .card-item,
    .card-item a {
      display: flex;
      align-items: stretch;
      width: 100%;
    }

    .cards a:focus,
    .cards a:hover {
      outline: 1px solid hsl(0, 0%, 80%);
    }

    .cards a:focus .caption,
    .cards a:hover .caption {
      background: white;
    }

    .card {
      margin: .5em;
      display: grid;
      grid-template-columns: 8em auto;
      overflow: hidden;
    }

    .card img {
      /*       height: 100%;
      width: auto; */
    }

    .caption {
      background: white;
    }
  }

  @media screen and (min-width: 62em) {
    .cards {
      max-width: none;
      margin: 1em 0;
      padding: 0 1em;
      display: grid;
      grid-template-columns: repeat(auto-fit, 25em);
      grid-gap: 1em;
      justify-content: center;
    }

    .double {
      grid-row: span 3;
    }

    .double .card {
      display: block;
    }

    .double img {
      height: calc((100% / 3) * 2 + .5em);
    }
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
